@import url('https://fonts.googleapis.com/css?family=Lora|Roboto&display=swap');

html, body {
    font-size: 20px;
    font-family: Lora;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.test1 {
  font-family: Lora;
  font-weight: normal;
}

.flex-item {
    padding: 5px;
    width: auto;
    height: auto;
    margin-top: 10px;
    text-align: center;
}

.flex-item2 {
    padding: 5px;
    width: auto;
    height: auto;
    margin-top: 10px;
    text-align: right;
}

ul {
    list-style: none;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

img {
    width: auto;
    height: 30vh;
}

.main-text {
  font-size: 2.1rem;
}

.flex-container {
    display: flex;
    padding: 0;
    margin: auto;
    list-style: none;
    justify-content: center;
    flex-flow: column wrap;
}

.page-wrap {
    flex: 1 0 auto;
    /* equal to footer height */
    margin-top: 100px;
    padding: 20px;
}

.logo {
    display: inline-block;
    align-items: center;
    margin-left: 350px;
}

.fa {
  padding: 2px;
  text-decoration: none;
  border-radius: 20%;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #343434;;
  color: white;
}
